:root {
  --percentage: 0%;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  overflow-x: hidden;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row-reverse;

  transform: translateX(var(--percentage));
  transition: transform 500ms ease-in;
}

section {
  flex: 1 0 100%;
}

h1,
h2,
h3,
p {
  all: unset;
}

figure {
  margin: 0;
}

figcaption {
  margin-block-start: 1.6rem;
  font-size: 1.6rem;
  color: #fff;
}

.en {
  font-family: "Raleway", sans-serif;
}

.fa {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.code {
  font-family: "JetBrains Mono", monospace;
  direction: ltr;
}

.snippet {
  background-color: #3232a4;
  color: #fff;
  line-height: 1.5;

  padding: 0 0.5rem;
  border-radius: 10px;
}

.content {
  width: 92rem;

  margin: 8rem auto;
}

.editor-box {
  width: 100%;
  margin-top: 12rem;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;

  background-color: rgb(30, 28, 34);
  color: #fff;
  font-size: 1.6rem;

  padding: 2rem 4rem;
  border-radius: 10px;
}

.tag {
  color: rgb(63, 211, 95);
}

.property {
  color: #fff;
}

.value {
  color: #5e9cd6;
}

.comment {
  color: rgb(124, 122, 128);
}

.margin-bottom {
  margin-block-end: 4rem;
}

section header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  width: 100%;
  height: 100vh;

  background-image: linear-gradient(
    to left bottom,
    #9b56d1,
    #904fca,
    #8648c3,
    #7b41bc,
    #703ab5,
    #6837b1,
    #6034ae,
    #5731aa,
    #4f31a9,
    #4632a7,
    #3d32a6,
    #3232a4
  );
  background-repeat: no-repeat;
  background-size: auto;

  padding-block: 3rem;
}

.brief {
  display: grid;
  grid-template-columns: 10rem 10rem 45rem 15rem;
  grid-template-rows: 7rem 7rem 7rem 20rem;
  gap: 4rem;

  direction: ltr;

  padding: 3rem;

  background-image: radial-gradient(
      hsla(266, 49%, 57%, 0.6) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(266, 49%, 57%, 0.6) 0.85px,
      hsla(240, 53%, 93%, 0) 0.85px
    );
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
}

.brief .slide-num {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  justify-self: end;
  align-self: start;

  color: #9b56d1;

  font-size: 18rem;
  transform: translate(-5rem, -5rem);
}

.brief .title {
  grid-column: 3 / 5;
  grid-row: 1 / 3;

  align-self: start;
  justify-self: end;

  position: relative;

  text-align: right;

  color: #fff;
  font-size: 8rem;
  line-height: 0.8;
}

.title-1 {
  transform-style: preserve-3d;
}

.title-1::before {
  content: "";
  display: block;
  position: absolute;

  transform: translateZ(-1px);
  top: -2rem;
  right: -2rem;
  height: 83%;
  width: 83%;

  border-width: 15px;
  border-style: solid;
  border-image: linear-gradient(
      to right top,
      #9b56d1,
      #904fca,
      #8648c3,
      #7b41bc,
      #703ab5,
      #6837b1,
      #6034ae,
      #5731aa,
      #4f31a9,
      #4632a7,
      #3d32a6,
      #3232a4
    )
    1;

  opacity: 1;
}

.brief .presentor {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  align-self: end;
  justify-self: start;

  color: #9b56d1;
  font-size: 2.8rem;
}

.brief .general-title {
  grid-column: 1 / 2;
  grid-row: 4 / 5;

  align-self: end;
  justify-self: start;

  color: #9b56d1;
  font-size: 3.5rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;

  transform: rotateY(180deg);
}

.brief .description {
  grid-column: 3 / 5;
  grid-row: 3 / 5;

  align-self: end;

  direction: rtl;
  color: #e3bfff;
  font-size: 2.4rem;
  line-height: 1.5;
}

.code-preview {
  margin-block-start: 4rem;
  padding: 4rem 8rem;
  border-radius: 10px;
}

.code-preview.wrong {
  background-image: linear-gradient(
    to right top,
    #d82d35,
    #dd373e,
    #e14047,
    #e5494f,
    #e95158,
    #ec5763,
    #ee5d6e,
    #f06478,
    #ef6b87,
    #ee7395,
    #eb7ba2,
    #e783ae
  );
}

.code-preview.right {
  background-image: linear-gradient(
    to right top,
    #25ac60,
    #24ae65,
    #24b06b,
    #24b170,
    #24b375,
    #26b778,
    #28bb7c,
    #2abf7f,
    #2ec781,
    #34ce82,
    #3ad683,
    #40de84
  );
}

#section-pre-01 {
  display: flex;
  justify-content: center;
}

#section-pre-02 {
  position: relative;
}

.info {
  position: absolute;
  top: 37vh;
  right: 20rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.css-defensive {
  color: #096bc1;
  font-size: 10rem;
  transform: translateY(45vh);
}

.p-name {
  font-size: 10rem;
  color: #333;
  position: relative;
}

.p-name img {
  position: absolute;

  width: 10rem;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  right: -12rem;
}

.section-1__flex-container {
  display: flex;
  gap: 5rem;

  border: 3px solid #fff;
  border-radius: 10px;

  padding: 5rem;
}

.section-1__flex-container.right {
  flex-wrap: wrap;
}

.section-1__flex-box {
  width: 15rem;
  height: 15rem;
  aspect-ratio: 1 / 1;
  background-color: rgb(240, 232, 232);
  border-radius: 10px;
}

#section-02 > header {
  background-image: linear-gradient(
    to right bottom,
    #9b56d1,
    #ac57d2,
    #bd58d3,
    #cd59d2,
    #dc5bd2,
    #e45acf,
    #ec58cb,
    #f357c7,
    #f552c0,
    #f64cb8,
    #f747b1,
    #f841a9
  );
}

#section-02 .presentor,
#section-02 .general-title,
#section-02 .slide-num {
  color: #7b41bc;
}

#section-02 .description,
#section-02 .title {
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
}

#section-02 .snippet {
  background-color: #6034ae;
}

#section-02 .brief {
  background-image: radial-gradient(
      hsla(240, 59%, 34%, 0.31) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(240, 59%, 34%, 0.3) 0.85px,
      hsla(240, 53%, 93%, 0) 0.85px
    );
}

#section-02 .title::after {
  color: #9b56d1;
  font-size: 3rem;
  filter: blur(1px);
  content: "I'm a distorted image";
  display: block;
  position: absolute;
  right: 0rem;
  top: 17rem;
  transform: translateZ(-1px) scaleY(4);
}

.figure-flex {
  display: flex;
  gap: 3rem;
}

.section-2__img-box-1.wrong,
.section-2__img-box-1.wrong img {
  width: 30rem;
  height: 30rem;
  border-radius: 10px;
}

.section-2__img-box-2.wrong {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 10px;
}

.section-2__img-box.right,
.section-2__img-box.right img {
  width: 30rem;
  height: 30rem;
  border-radius: 10px;
}

.section-2__img-box.right img {
  object-fit: cover;
}

#section-03 > header {
  background-image: linear-gradient(
    to right top,
    #f841a9,
    #fc3c99,
    #fd398a,
    #fe397b,
    #fc3b6c,
    #fb3b63,
    #fa3c5a,
    #f83e51,
    #f83c4b,
    #f73a44,
    #f7383e,
    #f63737
  );
}

#section-03 .presentor,
#section-03 .general-title,
#section-03 .slide-num {
  color: #970e0e;
  opacity: 0.7;
}

#section-03 .description,
#section-03 .title {
  color: #fff;
}

#section-03 .snippet {
  background-color: #970e0e;
}

#section-03 .brief {
  background-image: radial-gradient(
      hsla(30, 0%, 100%, 0.2) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(30, 0%, 100%, 0.2) 0.85px,
      hsla(30, 0%, 100%, 0) 0.85px
    );
}

.section-3__contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  width: 17rem;

  border: 3px solid #fff;
  border-radius: 10px;
  padding: 2rem;
}

.section-3__contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-3__contact .section-3__contact-name {
  color: #fff;
  font-size: 2rem;
}

.section-3__contact .circle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;

  flex: 1 0 auto;
}

.right .section-3__contact-name {
  line-height: 1.5;
  width: 13rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-3__flex-name {
  line-height: 1.5;
  width: 13rem;
  color: #fff;
  font-size: 2rem;
}

.right .section-3__flex-name {
  overflow-wrap: break-word;
  min-width: 0;
}

#section-04 > header {
  background-image: linear-gradient(
    to right bottom,
    #f63737,
    #f63d3b,
    #f6423e,
    #f54642,
    #f54b45,
    #f55047,
    #f55448,
    #f5584a,
    #f65d4b,
    #f7614b,
    #f7664c,
    #f86a4d
  );
}

#section-04 .presentor,
#section-04 .general-title,
#section-04 .slide-num {
  color: #a31b1b;
  opacity: 0.7;
}

#section-04 .description {
  color: #fff;
}

#section-04 .title {
  color: #f86a4d;
  position: relative;
  transform-style: preserve-3d;
}

#section-04 .title::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateZ(-1px);

  top: -5rem;
  right: -5rem;
  width: 90%;
  height: 110%;
  background-color: #fff;
  border-radius: 10px;
}

#section-04 .snippet {
  background-color: #a31b1b;
}

#section-04 .brief {
  background-image: radial-gradient(
      hsla(30, 0%, 100%, 0.2) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(30, 0%, 100%, 0.2) 0.85px,
      hsla(30, 0%, 100%, 0) 0.85px
    );
}

#section-04 figure {
  position: relative;
}

#section-04 img {
  width: 30rem;
  height: 30rem;
  border-radius: 10px;
  object-fit: cover;
}

.section-4__image-bg {
  background-image: var(
    --gradient-white,
    linear-gradient(to right top, #ddd, #fff)
  );
}

#section-04 .text-on-image {
  position: absolute;
  font-size: 2rem;

  bottom: 1rem;
  right: 16rem;
}

#section-04 .text-on-image.wrong {
  color: #e14047;
}

#section-04 .text-on-image.right {
  color: #24b375;
}

#section-05 > header {
  background-image: linear-gradient(
    to right top,
    #f86a4d,
    #f46f47,
    #f07542,
    #ec7a3d,
    #e77f39,
    #e68436,
    #e58933,
    #e38e30,
    #e5952c,
    #e69b28,
    #e7a223,
    #e7a91e
  );
}

#section-05 .presentor,
#section-05 .general-title,
#section-05 .slide-num {
  color: #ad2e14;
  opacity: 0.7;
}

#section-05 .description,
#section-05 .title {
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
}

#section-05 .title::after {
  content: "NOW YOU CAN'T ZOOM BACK HAHA";
  display: block;
  position: absolute;
  transform: translateZ(-1px);
  top: -6rem;
  left: -5rem;
  font-size: 10rem;
  color: #f86a4d;
}

#section-05 .snippet {
  background-color: #ad2e14;
}

#section-05 .brief {
  background-image: radial-gradient(
      hsla(30, 0%, 100%, 0.2) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(30, 0%, 100%, 0.2) 0.85px,
      hsla(30, 0%, 100%, 0) 0.85px
    );
}

#section-05 .code-preview.wrong {
  overflow: hidden;
}

#section-05 input {
  color: #666;
  border: none;
  outline: none;
}

#section-05 .wrong input {
  width: 200%;
  height: 20rem;
  border-radius: 20px;
  padding: 4rem;
  font-size: 8rem;
}

#section-05 .right input {
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 2rem;
}

#section-06 > header {
  background-image: linear-gradient(
    to right bottom,
    #e7a91e,
    #e8aa21,
    #e8ac24,
    #e9ad26,
    #eaae29,
    #eab12a,
    #ebb32a,
    #ebb62b,
    #ebbb2b,
    #ebbf2b,
    #ebc42b,
    #ebc92c
  );
}

#section-06 .presentor,
#section-06 .general-title,
#section-06 .slide-num {
  color: #ff4800;
  opacity: 0.7;
}

#section-06 .description,
#section-06 .title {
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
}

#section-06 .rotate {
  display: inline-block;
  transform: rotate(-4deg) scale(1.05);
  background-image: linear-gradient(to left top, #dd9e16, #f7d541);
  padding: 1rem 2rem;
  border-radius: 10px;
}

#section-06 .snippet {
  background-color: #ff4800;
}

#section-06 .brief {
  background-image: radial-gradient(
      hsla(40, 50%, 40%, 0.3) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(40, 50%, 40%, 0.3) 0.85px,
      hsla(40, 50%, 40%, 0) 0.85px
    );
}

#section-06 .box {
  width: 100%;
  height: 15rem;

  background-image: linear-gradient(to right top, #ddd, #fff);
  border-radius: 10px;
  transition: transform 300ms ease-in;
}

@media (hover: hover) {
  #section-06 .box:hover {
    transform: translateY(-1rem);
  }
}

#section-07 > header {
  background-image: linear-gradient(
    to right top,
    #ebc92c,
    #e2c826,
    #d9c720,
    #d0c61a,
    #c7c514,
    #bdc40d,
    #b3c305,
    #a9c200,
    #9bc100,
    #8cbf00,
    #7cbe00,
    #6bbc00
  );
}

#section-07 .presentor,
#section-07 .general-title,
#section-07 .slide-num {
  color: #ffffff;
  opacity: 0.7;
}

#section-07 .description {
  color: rgb(6, 105, 28);
}

#section-07 .title {
  color: rgb(6, 105, 28);
  position: relative;
  transform-style: preserve-3d;
}

#section-07 .title::before {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 99rem;
  background-color: rgb(102, 202, 116);
  right: -4rem;
  z-index: 300;
  top: 0.5rem;
}

#section-07 .title::after {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 30rem;
  border-radius: 99rem;
  background-color: rgb(155, 252, 179);
  right: -4rem;
  top: 0;
}

#section-07 .snippet {
  background-color: #ffee00;
  color: rgb(22, 139, 48);
}

#section-07 .brief {
  background-image: radial-gradient(
      hsla(120, 50%, 40%, 0.4) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(120, 50%, 40%, 0.4) 0.85px,
      hsla(120, 50%, 40%, 0) 0.85px
    );
}

.section-07__scroll {
  display: flex;
  gap: 3rem;
}

.section-07__scroll div {
  overflow-y: scroll;
  width: 25rem;
  height: 10rem;

  color: #fff;
  padding: 1rem;
  direction: ltr;
  font-size: 2.4rem;

  border: 3px solid #fff;
  border-radius: 10px;
}

.section-07__overflow {
  display: flex;
  gap: 3rem;
}

.section-07__overflow div {
  overflow-y: auto;
  width: 25rem;
  height: 10rem;

  color: #fff;
  padding: 1rem;
  direction: ltr;
  font-size: 2.4rem;

  border: 3px solid #fff;
  border-radius: 10px;
}

#section-08 > header {
  background-image: linear-gradient(
    to right top,
    #6bbc00,
    #65bf0f,
    #5fc21a,
    #57c422,
    #4fc72a,
    #4bca2f,
    #46cd34,
    #41d039,
    #41d33d,
    #42d741,
    #42da44,
    #42de48
  );
}

#section-08 .presentor,
#section-08 .general-title,
#section-08 .slide-num {
  color: #9dff00;
  opacity: 0.7;
}

#section-08 .description,
#section-08 .title {
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
}

#section-08 .title::before {
  content: "";
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 10.8rem;
  left: 26rem;
  border: 3px dashed #ddd;
  background-color: rgba(229, 229, 247, 0);
  opacity: 0.8;
  background: repeating-linear-gradient(
    -45deg,
    #eeeeee,
    #eeeeee 2px,
    rgba(229, 229, 247, 0) 2px,
    rgba(229, 229, 247, 0) 10px
  );
}

#section-08 .title::after {
  content: "";
  display: block;
  position: absolute;
  width: 20rem;
  height: 20rem;
  bottom: -25rem;
  right: 0;
  border: 3px dashed #ddd;

  background-color: rgba(229, 229, 247, 0);
  opacity: 0.8;
  background: repeating-linear-gradient(
    45deg,
    #eeeeee,
    #eeeeee 2px,
    rgba(229, 229, 247, 0) 2px,
    rgba(229, 229, 247, 0) 10px
  );
}

#section-08 .snippet {
  background-color: #9dff00;
  color: rgb(22, 139, 48);
}

#section-08 .brief {
  background-image: radial-gradient(
      hsla(120, 50%, 40%, 0.4) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(120, 50%, 40%, 0.4) 0.85px,
      hsla(120, 50%, 40%, 0) 0.85px
    );
}

.section-08__grid-stretch {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 2fr 7fr;
  direction: ltr;
}

.stretch-content {
  font-size: 2.4rem;
  color: #fff;
  padding: 1rem 2rem;
  border: 3px dashed #fff;
}

.stretch-aside {
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 2rem;
  border: 3px dashed #fff;
  position: sticky;
}

.section-08__grid-stretch.right .stretch-aside {
  top: 1rem;
  align-self: start;
}

#section-09 > header {
  background-image: linear-gradient(
    to right bottom,
    #35e379,
    #0fe592,
    #00e7a8,
    #00e8bc,
    #00e8cd,
    #00e5d6,
    #00e2de,
    #1adfe4,
    #04d9e7,
    #00d3e9,
    #07cdeb,
    #1bc7eb
  );
}

#section-09 .presentor,
#section-09 .general-title,
#section-09 .slide-num {
  color: #fff;
  opacity: 0.7;
}

#section-09 .description,
#section-09 .title {
  color: #005b6d;
  position: relative;
  transform-style: preserve-3d;
}

#section-09 .snippet {
  background-color: #fff;
  color: #005b6d;
}

#section-09 .brief {
  background-image: radial-gradient(
      hsla(180, 50%, 40%, 0.4) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(180, 50%, 40%, 0.4) 0.85px,
      hsla(180, 50%, 40%, 0) 0.85px
    );
}

.webkit {
  color: #fff;
  background-image: linear-gradient(
    to right top,
    rgb(24, 72, 204),
    rgb(33, 160, 199)
  );
  font-size: 7rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  line-height: 1.2;
}
.moz {
  color: #fff;
  background-image: linear-gradient(
    to right top,
    rgb(252, 78, 78),
    rgb(241, 144, 16)
  );
  font-size: 7rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  line-height: 1.2;
}

#section-10 > header {
  background-image: linear-gradient(
    to right top,
    #1bc7eb,
    #12bee8,
    #10b6e4,
    #15ade0,
    #1da4db,
    #149cd7,
    #0f93d3,
    #118bcf,
    #0081cb,
    #0076c7,
    #096bc1,
    #1a60bb
  );
}

#section-10 .presentor,
#section-10 .general-title,
#section-10 .slide-num {
  color: rgb(16, 69, 138);
  opacity: 0.7;
}

#section-10 .description,
#section-10 .title {
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
}

#section-10 .title::after {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 20rem;
  background: repeating-linear-gradient(
    -45deg,
    #eeeeee,
    #eeeeee 2px,
    rgba(229, 229, 247, 0) 2px,
    rgba(229, 229, 247, 0) 10px
  );
  border: 3px dashed #fff;
  border-radius: 10px;
  right: 0rem;
  top: 7rem;
}

#section-10 .snippet {
  background-color: rgb(16, 69, 138);
}

#section-10 .brief {
  background-image: radial-gradient(
      hsla(180, 50%, 40%, 0.6) 0.85px,
      transparent 0.85px
    ),
    radial-gradient(
      hsla(180, 50%, 40%, 0.6) 0.85px,
      hsla(180, 50%, 40%, 0) 0.85px
    );
}

.transform-left {
  display: block;
  transform: translateX(-5rem);
}

.section-10__felx-container {
  display: flex;
  gap: 4rem;
}

.text-box {
  direction: ltr;
  color: #fff;

  font-size: 2rem;
  border-radius: 10px;
  width: 25rem;
  height: 15rem;
  border: 3px solid #fff;
  padding: 1rem 2rem;
}

.scroll-nogutter {
  overflow-y: auto;
}

.scroll-gutter {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#section-11 > header {
  background-image: linear-gradient(
    to right top,
    #1a60bb,
    #215dbe,
    #295ac0,
    #3257c2,
    #3b53c3,
    #3d4fc1,
    #404abe,
    #4246bc,
    #3e41b6,
    #3a3cb0,
    #3637aa,
    #3232a4
  );
}

#section-11 .presentor,
#section-11 .general-title,
#section-11 .slide-num {
  color: rgb(255, 161, 250);
  opacity: 0.7;
}

#section-11 .description,
#section-11 .title {
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
}

.grid-fill {
  letter-spacing: 30px;
  display: inline-block;
  transform: translate(30px, 10px);
}

.section-11 .fill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}

.section-11 .item {
  background-image: linear-gradient(to right top, #ddd, #fff);
  height: 150px;
}

.fill.right {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.below-modal {
  direction: ltr;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  width: 50rem;
  height: 60rem;
  font-size: 3rem;
  padding: 1rem 2rem;
  overflow-y: auto;

  position: relative;
}
.modal {
  position: absolute;
  top: 10rem;
  left: 10rem;
  display: block;
  background-image: linear-gradient(to right top, #ddd, #eee);
  color: #333;
  overflow-y: auto;
  width: 30rem;
  height: 40rem;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 1rem;
}

.right .modal {
  overscroll-behavior-y: contain;
}
